[submodule "workload"]
	path = reference/workload
	url = https://github.com/learning-on-chip/workload
[submodule "traffic"]
	path = reference/traffic
	url = https://github.com/learning-on-chip/traffic
[submodule "toolbox"]
	path = toolbox
	url = https://github.com/learning-on-chip/toolbox.git
